<nav class="sidebar border-right">
  <a href="/" class="tablink <%= path === '/' ? 'active' : '' %>">
    <img class="tabicon" src="/icons/dashboard.svg" alt="">
    <span class="tabtext">Dashboard</span>
  </a>
  <a href="/elections" class="tablink <%= path === 'elections' ? 'active' : '' %>">
    <img class="tabicon" src="/icons/vote.svg" alt="">
    <span class="tabtext">Elections</span>
  </a>
  <a href="/voters" class="tablink <%= path === 'voters' ? 'active' : '' %>">
    <img class="tabicon" src="/icons/group.svg" alt="">
    <span class="tabtext">Voters</span>
  </a>
  <a href="/parties" class="tablink <%= path === 'parties' ? 'active' : '' %>">
    <img class="tabicon" src="/icons/wane.svg" alt="">
    <span class="tabtext">Parties</span>
  </a>
  <a href="/candidates" class="tablink <%= path === 'candidates' ? 'active' : '' %>">
    <img class="tabicon" src="/icons/people.svg" alt="">
    <span class="tabtext">Candidates</span>
  </a>
  <a href="/votes" class="tablink <%= path === 'votes' ? 'active' : '' %>">
    <img class="tabicon" src="/icons/vote.svg" alt="">
    <span class="tabtext">Votes</span>
  </a>
  <a href="/users" class="tablink <%= path === 'users' ? 'active' : '' %>">
    <img src="/icons/people.svg" alt="">
    <span>Users</span>
  </a>
  <span>
    <a href="/voters/registration" class="button outlined">Voter Registration</a>
  </span>
</nav>