<%- include("./partials/head") %>
    <%- include("./partials/navigation") %>
        <div class="layout">
            <%- include("./partials/sidebar") %>
                <div class="content ">
                    <%- include("./partials/page-title") %>
                        <header class="padding  row between border-bottom">
                            <section class="row between padding-right">
                                <span class="row">
                                    <label for="elections" class="label">Filter By Election:</label>
                                    <select name="elections" id="elections-select" class="input">
                                        <option value="1">Block A General Elections</option>
                                        <option value="2">14 Street Chairmanship Election</option>
                                        <option value="3">2029 General and Presidential Elections</option>
                                    </select>
                                </span>
                            </section>
                        </header>
                        <div class="grid padding">
                            <% if(data.condidates) { %>
                                <% data.condidates.reverse().map(function each(candidate){ %>
                                    <section class="row border padding">
                                        <img src="/uploads/<%= candidate.photo %>" alt="" class="round small">
                                        <span class="max margin-left">
                                            <a href="/candidates/<%= candidate.id %>" class="large black no-margin">
                                                <%= candidate.first_name %>
                                                    <%= candidate.middle_name %>
                                                        <%= candidate.last_name %>
                                            </a>
                                            <small class="small">
                                                Candidate
                                            </small>
                                            <small class="small">
                                                Election Name &middot; 0 Votes Obtained
                                            </small>
                                        </span>
                                    </section>
                                    <% }) %>
                                        <% } %>
                        </div>
                </div>
        </div>