<%- include("./partials/head") %> 
<%- include("./partials/nav") %>
<div class="dash">
  <%- include("./partials/sidebar") %>
  <main class="main grid">
    <article class="card">
      <header>Registered Voters</header>
      <section class="center">
        <h1 class="larger"><%= row.length %></h1>
      </section>
      <footer>Total Number of Registered Voters</footer>
    </article>
  </main>
</div>
<%- include("./partials/foot") %>
