<%- include("./partials/head") %>
    <%- include("./partials/navigation") %>
        <div class="layout">
            <%- include("./partials/sidebar") %>
                <div class="content padding">
                    <div class="grid">
                        <section class="toaster row around hide">
                            <em class="icon">icon</em>
                            <span class="text">Text</span>
                            <button class="action mini crimson">Done</button>
                        </section>
                        <section>
<?xml version="1.0" encoding="UTF-8"?>
<svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512">
    <path
        d="M18.656.93,6.464,13.122A4.966,4.966,0,0,0,5,16.657V18a1,1,0,0,0,1,1H7.343a4.966,4.966,0,0,0,3.535-1.464L23.07,5.344a3.125,3.125,0,0,0,0-4.414A3.194,3.194,0,0,0,18.656.93Zm3,3L9.464,16.122A3.02,3.02,0,0,1,7.343,17H7v-.343a3.02,3.02,0,0,1,.878-2.121L20.07,2.344a1.148,1.148,0,0,1,1.586,0A1.123,1.123,0,0,1,21.656,3.93Z" />
    <path
        d="M23,8.979a1,1,0,0,0-1,1V15H18a3,3,0,0,0-3,3v4H5a3,3,0,0,1-3-3V5A3,3,0,0,1,5,2h9.042a1,1,0,0,0,0-2H5A5.006,5.006,0,0,0,0,5V19a5.006,5.006,0,0,0,5,5H16.343a4.968,4.968,0,0,0,3.536-1.464l2.656-2.658A4.968,4.968,0,0,0,24,16.343V9.979A1,1,0,0,0,23,8.979ZM18.465,21.122a2.975,2.975,0,0,1-1.465.8V18a1,1,0,0,1,1-1h3.925a3.016,3.016,0,0,1-.8,1.464Z" />
</svg>







                        </section>
                        <section class="border padding">
                            <h1 class="large no-margin">Registered Voters</h1>
                            <hr class="divider half margin-top">
                            <h1 class="huge no-margin">
                                <%= data.votersCount !==0 ? data.votersCount : 0 %>
                            </h1>
                            <small class="muted">Total Number of Registered Voters on the Platform</small>
                        </section>
                        <section class="border padding">
                            <h1 class="large no-margin">Parties</h1>
                            <hr class="divider half margin-top">
                            <h1 class="huge no-margin">
                                <%= data.partiesCount !==0 ? data.partiesCount : 0 %>
                            </h1>
                            <small class="muted">Total Number of Parties on the Platform</small>
                        </section>
                        <section class="border padding">
                            <h1 class="large no-margin">Candidates</h1>
                            <hr class="divider half margin-top">
                            <h1 class="huge no-margin">1234567890</h1>
                            <small class="muted">Total Number of Candidates on the Platform</small>
                        </section>
                    </div>
                    <div class="padding"></div>
                    <header>
                        <h4 class="large no-margin margin-top margin-bottom">Elections</h4>
                        <hr class="divider half">
                    </header>
                    <div class="padding"></div>

                    <div class="grid">
                        <section class="border padding">
                            <h1 class="large no-margin">SUP Chairmanship Election</h1>
                            <small class=" muted">
                                <strong class="success bold">Completed</strong>
                                &middot; 10 Candidates &middot; Aug 25, 2024
                            </small>
                            <span class="figure-group padding">
                                <figure class="figure">
                                    <img src="/images/sample.png" alt="">
                                    <figcaption>Winner</figcaption>
                                </figure>
                                <figure class="figure">
                                    <img src="/images/sample.png" alt="">
                                    <figcaption>Runner-up</figcaption>
                                </figure>
                                <figure class="figure">
                                    <img src="/images/sample.png" alt="">
                                    <figcaption>Runner-up</figcaption>
                                </figure>
                            </span>
                            <a href="/elections/1234/Candidates" class="link">See all Candidates</a>
                        </section>
                        <section class="border padding">
                            <h1 class="large no-margin">Block A General Elections</h1>
                            <small class=" muted"><strong class="warning bold">Upcoming</strong> &middot; 10 Candidates
                                &middot; Aug 25, 2024</small>
                            <span class="badge-group padding">
                                <img src="/images/sample.png" alt="" class="badge">
                                <img src="/images/sample.png" alt="" class="badge">
                                <img src="/images/sample.png" alt="" class="badge">
                                <img src="/images/sample.png" alt="" class="badge">
                                <img src="/images/sample.png" alt="" class="badge">
                            </span>
                            <a href="/elections/1234/Candidates" class="link">See all Candidates</a>
                        </section>
                        <section class="border padding">
                            <h1 class="large no-margin">Block A General Elections</h1>
                            <small class=" muted"><strong class="error bold">Cancelled</strong> &middot; 10 Candidates
                                &middot; Aug 25, 2024</small>
                            <span class="badge-group padding">
                                <img src="/images/sample.png" alt="" class="badge">
                                <img src="/images/sample.png" alt="" class="badge">
                                <img src="/images/sample.png" alt="" class="badge">
                                <img src="/images/sample.png" alt="" class="badge">
                                <img src="/images/sample.png" alt="" class="badge">
                            </span>

                            <span class="row between padding-top">
                                <a href="/elections/1234/Candidates" class="link">
                                    See all Candidates</a> &middot;
                                <a href="/elections/1234/voters" class="link">
                                    All Voters</a> &middot;
                                <a href="/elections/1234" class="link">
                                    Election Details</a>
                            </span>
                        </section>
                    </div>
                </div>
        </div>