<%- include("./partials/head") %> <%- include("./partials/nav") %>
<div class="dash">
  <%- include("./partials/sidebar") %>
  <main class="main grid">
    <article class="card">
      <header>Registered Voters</header>
      <section class="center">
        <h1 class="larger"><%= data.voter.length %></h1>
      </section>
      <footer>Total Number of Registered Voters</footer>
    </article>
    <section class="card data">
      <header class="header">Number of Parties</header>
      <section class="center body">
        <h1 class="larger"><%= data.voter.length %></h1>
      </section>
      <footer class="footer">Total Number of Registered Parties</footer>
    </section>
  </main>
</div>
<%- include("./partials/foot") %>
