<%- include("./partials/head") %>
    <%- include("./partials/navigation") %>
        <div class="layout">
            <%- include("./partials/sidebar") %>
                <div class="content padding">
                    <header class="padding-right padding-left">
                        <h1 class="huge no-margin capitalize">
                            Dashboard
                        </h1>
                    </header>
                    <div class="grid">
                        <section class="toaster row around hide">
                            <em class="icon">icon</em>
                            <span class="text">Text</span>
                            <button class="action mini crimson">Done</button>
                        </section>
                        <section class="border padding">
                            <h1 class="large no-margin">Registered Voters</h1>
                            <hr class="divider half margin-top">
                            <h1 class="huge no-margin">
                                <%= data.votersCount !==0 ? data.votersCount : 0 %>
                            </h1>
                            <small class="muted">Total Number of Registered Voters on the Platform</small>
                        </section>
                        <section class="border padding">
                            <h1 class="large no-margin">Parties</h1>
                            <hr class="divider half margin-top">
                            <h1 class="huge no-margin">
                                <%= data.partiesCount !==0 ? data.partiesCount : 0 %>
                            </h1>
                            <small class="muted">Total Number of Parties on the Platform</small>
                        </section>
                        <section class="border padding">
                            <h1 class="large no-margin">Candidates</h1>
                            <hr class="divider half margin-top">
                            <h1 class="huge no-margin">1234567890</h1>
                            <small class="muted">Total Number of Candidates on the Platform</small>
                        </section>
                    </div>
                    <div class="padding"></div>
                    <header>
                        <h4 class="large no-margin margin-top margin-bottom">Elections</h4>
                        <hr class="divider half">
                    </header>
                    <div class="padding"></div>

                    <div class="grid">
                        <section class="border padding">
                            <h1 class="large no-margin">SUP Chairmanship Election</h1>
                            <small class=" muted">
                                <strong class="success bold">Completed</strong>
                                &middot; 10 Candidates &middot; Aug 25, 2024
                            </small>
                            <span class="figure-group padding">
                                <figure class="figure">
                                    <img src="/images/sample.png" alt="">
                                    <figcaption>Winner</figcaption>
                                </figure>
                                <figure class="figure">
                                    <img src="/images/sample.png" alt="">
                                    <figcaption>Runner-up</figcaption>
                                </figure>
                                <figure class="figure">
                                    <img src="/images/sample.png" alt="">
                                    <figcaption>Runner-up</figcaption>
                                </figure>
                            </span>
                            <span class="row between padding-top">
                                <a href="/elections/1234/Candidates" class="link">
                                    See all Candidates</a> &middot;
                                <a href="/elections/1234/voters" class="link">
                                    All Voters</a> &middot;
                                <a href="/elections/1234" class="link">
                                    Election Details</a>
                            </span>

                        </section>
                        <section class="border padding column">
                            <span>
                                <h1 class="large no-margin">Block A General Elections</h1>
                                <small class="muted">
                                    <strong class="warning bold">Upcoming</strong> &middot; 10 Candidates
                                    &middot; Aug 25, 2024
                                </small>
                            </span>
                            <span class="badge-group padding">
                                <img src="/images/sample.png" alt="" class="badge">
                                <img src="/images/sample.png" alt="" class="badge">
                                <img src="/images/sample.png" alt="" class="badge">
                                <img src="/images/sample.png" alt="" class="badge">
                                <img src="/images/sample.png" alt="" class="badge">
                            </span>
                            <span class="row between padding-top move-down">
                                <a href="/elections/1234/Candidates" class="link">
                                    See all Candidates</a> &middot;
                                <a href="/elections/1234/voters" class="link">
                                    All Voters</a> &middot;
                                <a href="/elections/1234" class="link">
                                    Election Details</a>
                            </span>

                        </section>
                        <section class="border padding column">
                            <span>
                                <h1 class="large no-margin">Block A General Elections</h1>
                                <small class=" muted"><strong class="error bold">Cancelled</strong> &middot; 10
                                    Candidates
                                    &middot; Aug 25, 2024</small>
                            </span>
                            <span class="badge-group padding">
                                <img src="/images/sample.png" alt="" class="badge">
                                <img src="/images/sample.png" alt="" class="badge">
                                <img src="/images/sample.png" alt="" class="badge">
                                <img src="/images/sample.png" alt="" class="badge">
                                <img src="/images/sample.png" alt="" class="badge">
                            </span>

                            <span class="row between padding-top move-down">
                                <a href="/elections/1234/Candidates" class="link">
                                    See all Candidates</a> &middot;
                                <a href="/elections/1234/voters" class="link">
                                    All Voters</a> &middot;
                                <a href="/elections/1234" class="link">
                                    Election Details</a>
                            </span>
                        </section>
                    </div>
                </div>
        </div>