<%- include("./partials/head") %>
  <%- include("./partials/navigation") %>
    <div class="layout">
      <%- include("./partials/sidebar") %>
        <div class="content">
          <%- include("./partials/page-title") %>
            <%- include("./partials/elections-toolbar") %>
              <div class="grid padding">
                <section class="article border padding center-align small-round">
                  <img src="/images/sample.png" alt="" class="fullwidth small-round">
                  <h3 class="larger">The Part Name Here</h3>
                  <small class="row around">10 Candidates &middot; 0 Election won</small>
                </section>
                <section class="article border padding center-align small-round">
                  <img src="/images/dp.png" alt="" class="fullwidth small-round">
                  <h3 class="larger">The Part Name Here</h3>
                  <small class="row around">10 Candidates &middot; 0 Election won</small>
                </section>
                <section class="article border padding center-align small-round">
                  <img src="/images/rp.png" alt="" class="fullwidth small-round">
                  <h3 class="larger">The Part Name Here</h3>
                  <small class="row around">10 Candidates &middot; 0 Election won</small>
                </section>
                <section class="article border padding center-align small-round">
                  <img src="/images/rp.png" alt="" class="fullwidth small-round">
                  <h3 class="larger">The Part Name Here</h3>
                  <small class="row around">10 Candidates &middot; 0 Election won</small>
                </section>
              </div>

        </div>
    </div>
    <script src="/js/elections.js"></script>