<%- include("./partials/head") %>
  <%- include("./partials/navigation") %>
    <div class="layout">
      <%- include("./partials/sidebar") %>
        <div class="content">
          <%- include("./partials/page-title") %>
            <%- include("./partials/elections-toolbar") %>
        </div>
    </div>
    <script src="/js/elections.js"></script>