<%- include("./partials/head") %> <%- include("./partials/navigation") %>
    <div class="container row max">
      <%- include("./partials/sidebar") %>
        <main class="main max relative">
          <%- include("./elections/toolbar") %>
            <div class="body">
              <section>
                <%- include("./elections/tabs") %>
                  <div class="body padding row">
                    <% if(data.parties) { %>
                      <% data.parties.map(function each(party, index){ %>
                        <section class="media article">
                          <img class="figure" src="/images/sample.png" alt="" />
                          <section class="block">
                            <strong class="title">
                              <%= party.party %>
                            </strong>
                            <small class="footer"> 0 Candidates &middot; 0 Elections Won </small>
                          </section>
                        </section>
                        <%}) %>
                          <% } else {%>
                            <h1>no party register</h1>
                            <% } %>
                  </div>
              </section>
            </div>
        </main>
    </div>
    <%- include("./partials/foot") %>