<%- include("./partials/head") %>
  <%- include("./partials/navigation") %>
    <div class="layout">
      <%- include("./partials/sidebar") %>
        <div class="content ">
          <%- include("./partials/page-title") %>
            <%- include("./parties/toolbar") %>
              <div class="grid padding">
                <% if(data.parties) { %>
                  <% data.parties.reverse().map(function each(party, index){ %>
                    <a href="/parties/<%= party.id %>" class="border row padding black hover-elevate tiny-radius">
                      <img class="small" src="/uploads/<%= party.logo %>" alt="" />
                      <span class="column margin-left">
                        <h3 class="large no-margin">
                          <%= party.party %>
                        </h3>
                        <small class="muted"> 0 Candidates &middot; 0 Elections Won </small>
                      </span>
                    </a>
                    <%}) %>
                      <% } else {%>
                        <h1 class="padding">No Party Found</h1>
                        <% } %>
              </div>
        </div>
    </div>