<%- include("./partials/head") %>
    <%- include("./partials/navigation") %>
        <div class="layout">
            <%- include("./partials/sidebar") %>
                <div class="content ">
                    <div class="container-medium">
                        <% if(data.user){%>
                            <header class="row">
                                <img class="large round" src="/images/sample.png">
                                <section class="max padding ">
                                    <h1 class="huge no-margin">
                                        <%= data.user.first_name %>
                                            <%= data.user.middle_name %>
                                                <%= data.user.last_name %>
                                    </h1>
                                    <small class="large no-bold no-margin">
                                        <%= data.user.DOB %> &middot; 10x Voted
                                    </small>
                                </section>
                            </header>
                            <%}%>
                                <nav class="row tabs">
                                    <a href="/">one</a>
                                    <a href="/">one</a>
                                    <a href="/">one</a>
                                </nav>
                    </div>
                    userID is: <%= data.userID %>
                </div>
        </div>