<%- include("./partials/head") %>
    <%- include("./partials/navigation") %>
        <div class="layout">
            <%- include("./partials/sidebar") %>
                <div class="content ">
                    <% if(data.user){%>
                        <header class="row container-medium">
                            <img class="large round" src="/uploads/<%= data.user.photo %>">
                            <section class="max padding ">
                                <h1 class="huge no-margin">
                                    <%= data.user.first_name %>
                                        <%= data.user.middle_name %>
                                            <%= data.user.last_name %>
                                </h1>
                                <small class="large no-bold no-margin">
                                    <%= data.user.DOB %> &middot; 10x Voted
                                </small>
                            </section>
                        </header>
                        <%}%>
                            <nav class="row margin-top border-bottom" id="tabs">
                                <button class="tab active">Elections</button>
                                <button class="tab">Affiliation</button>
                            </nav>
                            <div class="grid padding">
                                <a href="/elections/12345" class="border padding black hover-elevate">
                                    <h6 class="small bold">Block A General Elections</h6>
                                    <small class="small">10 Candidates &middot; Aug 25, 2024 &middot;  <em class="success">Voted</em></small>
                                </a>
                                <a href="/elections/12345" class="border padding black hover-elevate">
                                    <h6 class="small bold">Block A General Elections</h6>
                                    <small class="small">10 Candidates &middot; Aug 25, 2024 &middot;  <em class="success">Voted</em></small>
                                </a>
                                <a href="/elections/12345" class="border padding black hover-elevate">
                                    <h6 class="small bold">Block A General Elections</h6>
                                    <small class="small">10 Candidates &middot; Aug 25, 2024 &middot; <em class="success">Voted</em></small>
                                </a>
                            </div>
                </div>
        </div>