<%- include("./partial/head") %>

    <body>
        <form action="votes" method="post">
            <h2>Cast Your Vote</h2>
            <fieldset>
                <legend>President</legend>
                <% data.candidates.map((president, index)=>{ %>
                    <label for="<%= president.id %>">
                        <input type="radio" name="president" id="<%= president.id %>" value="<%= president.id %>">
                        <span>
                            <%= president.first_name %>
                                <%= president.middle_name %>
                                    <%= president.last_name %>
                        </span>
                    </label>
                    <% }) %>
                        <br><br>
                        <button type="submit">Cast Vote</button>
            </fieldset>
            <!-- <fieldset>
                <legend>Vice President</legend>
            </fieldset> -->

            <input type="hidden" name="voter" id="voter" value="4">
        </form>
    </body>
    <!-- <script type="module" src="/js/dashboard.js"></script> -->

    </html>