<%- include("./partials/head") %>
  <nav class="navigation border-bottom">
    <a href="/" class="larger logo">Election App</a>
    <a href="/login" class="minibtn">Log in</a>
  </nav>
  <main class="center">
    <div class="smblock">
      <h2 class="larger center-align">Voter Registration</h2>

      <form action="" method="post">

        <label class="label" for="first_name">Fill in Form</label>
        <input type="text" name="first_name" id="first_name" class="input margin-bottom" placeholder="First Name"
          required />

        <section class="flexfield margin-bottom">
          <input type="text" name="middle_name" id="middle_name" class="input" placeholder="Middle Name" />

          <input type="text" name="last_name" id="last_name" class="input" placeholder="Last Name" required />
        </section>

        <label class="label" for="DOB">Date of Birth</label>
        <input type="date" name="DOB" id="DOB" class="input margin-bottom" />

        <section class="flexfield">
          <input type="text" name="username" id="username" class="input" placeholder="Username" required />

          <input type="password" name="password" id="password" placeholder="Password" class="input" />
        </section>

        <label class="label" for="photo">Profile Photo</label>
        <input type="file" name="photo" id="photo" class="input" required />

        <section class="flexfield">

          <span>
            <label for="role" class="label">Role </label>
            <select name="role" id="role" class="input">
              <% data.roles.map((role)=> { %>
                <option value="<%= role.id %>">
                  <%= role.role %>
                </option>
                <%}) %>
            </select>
          </span>

          <span class="" id="positions">
            <label for="party" class="label">Position</label>
            <select name="position" id="position" class="input">
              <% data?.positions.map((position)=> { %>
                <option value="<%= position.id %>">
                  <%= position.position %>
                </option>
                <%}) %>
            </select>
          </span>
        </section>

        <span class="" id="party">
          <label for="party" class="label">Party</label>
          <select name="party" id="party" class="input">
            <% data?.parties.map((party)=> { %>
              <option value="<%= party.id %>">
                <%= party.party %>
              </option>
              <%}) %>
          </select>
        </span>

        <button type="submit" class="button">Register</button>
      </form>

    </div>
  </main>
  <script type="module" src="/js/form.js"></script>
  <%- include("./partials/foot") %>