<%- include("./partials/head") %>
  <%- include("./partials/navigation") %>
    <div class="layout">
      <%- include("./partials/sidebar") %>
        <div class="content">
          <%- include("./partials/page-title") %>
            <header class="padding row between border-bottom">
              <span class="row">
                <label for="elections" class="label">Filter By Election:</label>
                <select name="elections" id="elections" class="input">
                  <option value="">All Elections</option>
                  <option value="">Block A General Elections</option>
                  <option value="">Block B General Elections</option>
                  <option value="">Block C General Elections</option>
                </select>
              </span>
            </header>
            <div class="grid padding">
              <% if(data.voters) { %>
                <% data.voters.reverse().map(function each(voter){ %>
                  <section id="<%= voter.id %>" class="voter row border padding black hover-elevate">
                    <img src="/uploads/<%= voter.photo %>" alt="" class="round small">
                    <span class="max margin-left">
                      <h6 class="large no-margin">
                        <%= voter.first_name %>
                          <%= voter.middle_name %>
                            <%= voter.last_name %>
                      </h6>
                      <p class="small">Voter</p>
                      <button class="tini action">Select to vote</button>
                    </span>
                  </section>
                  <% }) %>
                    <% } %>
            </div>
        </div>
    </div>
    <script type="module" src="/js/voters.js"></script>