<%- include("../partials/head") %> <%- include("../partials/nav") %>
    <div class="container row max">
      <%- include("../partials/sidebar") %>
        <main class="main max relative">
          <%- include("./toolbar") %>
            <div class="body">
              <section>
                <%- include("./tabs") %>
                  <div class="gridlist padding">
                    list of candidates
                  </div>
              </section>
            </div>
        </main>
    </div>
    <%- include("../partials/foot") %>