<%- include("../partials/head") %> <%- include("../partials/nav") %>
    <div class="container row max">
      <%- include("../partials/sidebar") %>
        <main class="main max relative">
          <%- include("./toolbar") %>
            <div class="body">
              <section>
                <%- include("./tabs") %>
                  <div class="body padding row">
                    <section class="media article">
                      <img class="figure" src="/images/sample.png" alt="" />
                      <section class="block">
                        <strong class="title">
                          Candidates Name Here
                        </strong>
                        <small class="footer"> Political Party Name &middot; 0 Elections Won </small>
                      </section>
                    </section>
                  </div>
              </section>
            </div>
        </main>
    </div>
    <%- include("../partials/foot") %>