<%- include("../partials/head") %>
  <%- include("../partials/nav") %>
    <div class="container row max">
      <%- include("../partials/sidebar") %>
        <main class="main max relative">
          <%- include("./toolbar") %>
            <div class="body">
              <section>
                <%- include("./tabs") %>
                  <div class="tablist">
                    <section class="tabitem" id="">
                      <span class="tabicon">
                        <img src="/images/sample.png" alt="icon" class="tabimg" />
                      </span>
                      <span class="tabcontent max">
                        <strong> Full Name</strong>
                        <small> DOB &middot; Male</small>
                      </span>
                    </section>
                  </div>
              </section>
            </div>
        </main>
    </div>
    <%- include("../partials/foot") %>