<%- include("../partials/head") %>
  <%- include("../partials/nav") %>
    <div class="container row max">
      <%- include("../partials/sidebar") %>
        <main class="main max relative">
          <%- include("./toolbar") %>
            <div class="body">
              <%- include("./tabs") %>
                <section class="padding">
                  <div class="row">
                    <section class="media" id="">
                      <img src="/images/sample.png" alt="icon" class="figure" />
                      <span class="block max">
                        <strong class="title"> Full Name</strong>
                        <small class="footer"> DOB &middot; Voter</small>
                      </span>
                    </section>
                  </div>
                </section>
            </div>
        </main>
    </div>
    <%- include("../partials/foot") %>